@media (max-width: 860px) {
    .callUs {
        display: none;
    }
}

@media (max-width: 690px) {
    label[for="menu"] {
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    .navList {
        flex-direction: column;
        top: 70px;
        position: absolute;
        width: 300px;
        justify-content: center;
        align-items: center;
        background-color: var(--1);
        right: 0;
        height: calc(100vh - 70px);
        display: none;
    }

    .navLink {
        color: var(--4);
    }

    .dropbtn a {
        color: var(--4);
    }

    .navLink::after,
    .dropbtn a::before {
        background-color: var(--4);
    }
}

@media (max-width: 530px) {
    #inquiry form {
        width: 290px;
    }
}

@media (max-width: 375px) {
    .navList {
        width: 100%;
    }
}