<div class="navInnerOne">
    <label for="menu"><i class="fa-solid fa-bars label"></i></label>
    <input type="checkbox" name="menu" id="menu">

    <a href="index.html" class="logoLink"><img class="logo" src="Images/Logos/inkjetGlobal.webp" alt="Inkjet Global Logo">by RELIANCE</a>
    <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" id="search" name="search" placeholder="Search Products" autocomplete="off">
    </div>
    <div class="icons">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-user"></i>
        <a href="Inkjet Global Catalogue.pdf"><i class="fa-solid fa-download"></i> &nbsp; E-Catalogue</a>
    </div>
</div>
<div class="navInnerTwo">
    <ul class="navList">
        <li><a href="index.html" class="navLink ">Home</a></li>
        <li class="prodHidden">
            <div class="dropdown">
                <button class="dropbtn productDrop"><a>Products</a></button>
                <div class="dropdown-content">
                    <a href="uv.html">UV Printers</a>
                    <a href="dtf.html">DTF Printers</a>
                    <a href="ecoSolvent.html">Eco Solvent Printers</a>
                    <a href="sublimation.html">Sublimation Printers</a>
                    <a href="laser.html">Laser Machines</a>
                    <a href="plotter.html">Plotters</a>
                    <a href="heatTransfer.html">Heat Transfer Machines</a>
                    <a href="material.html">Printing Material</a>
                </div>
            </div>
        </li>
        <li class="liSpecial">
            <div class="dropdownSpecial">
                <button class="dropbtnSpecial" onclick="myFunction()">
                    Products&nbsp;<i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-contentSpecial" id="myDropdown">
                    <a href="uv.html">UV Printers</a>
                    <a href="dtf.html">DTF Printers</a>
                    <a href="ecoSolvent.html">Eco Solvent Printers</a>
                    <a href="sublimation.html">Sublimation Printers</a>
                    <a href="laser.html">Laser Machines</a>
                    <a href="plotter.html">Plotters</a>
                    <a href="heatTransfer.html">Heat Transfer Machines</a>
                    <a href="material.html">Printing Material</a>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown serviceDrop">
                <button class="dropbtn serviceDrop"><a href="services.html">Services</a></button>
                <div class="dropdown-content">
                    <a href="techSupport.html">Technical Support</a>
                    <a href="training.html">Training</a>
                </div>
            </div>
        </li>
        <li><a href="application.html" class="navLink">Application</a></li>
        <li><a href="contact.html" class="navLink">Contact Us</a></li>
    </ul>
</div>